.App {
    width: 312px;
    height: 64px;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    padding: 0px 10px;
    flex: 1;
    z-index: 1;
    display: flex;
}

.logo > img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.nowplaying {
    flex: 5;
    font-family: Quicksand, sans-serif;
    overflow-x: hidden;
    position: relative;
}

.poweredby {
    position: absolute;
    font-size: 8px;
    font-style: italic;
    font-weight: 500;
    bottom: 6px;
    text-align:center;
    width: 100%;
}